<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.201.41.88:8732//WCFService/Service1/"
        binding="netTcpBinding" bindingConfiguration="netTcpBinding"
        contract="netTCPServiceReference.IService1" name="netTcpBinding" />
    </client>
  </system.serviceModel>
</configuration>